table {
    width:100%;
    height:100%;
    font-family: monospace 
}

.register {
    color: yellow
}

.memory {
    color: white
}

.inputField{
    width:75%;
    background-color : #1e1e1e;
    color : #28B500;
    border-color: #1e1e1e;
    font-family: monospace
    
}

.resetButton{
    background-color: #1e1e1e;
    border: none;
    color: #FF0000;
    width: 100%;
    height: 50%
}